::ng-deep .mat-form-field-underline {
  display: none;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.update-card {
  width: 500px;
  text-align: center;
  height: 900px;
}

mat-form-field {
  width: 90%;
}
